@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
}
/* Google Font Style */
body {
  font-family: "Fira Sans", serif;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #f1f1f3;
}
/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}
nav > h3 {
  color: #0e0e0e;
  font-family: "Fira Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
nav > button {
  color: #006a50;
  font-family: "Fira Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  border: 1px solid #006a50;
  padding: 15px 30px;
}
/* Banner Part Styles */
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  background: #c6e4d6;
  padding: 80px 100px;
  margin-bottom: 80px;
}
.banner-title {
  color: rgba(14, 14, 14, 0.5);
  font-family: "Fira Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.banner-description {
  color: #0e0e0e;
  font-family: "Fira Sans";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.banner-btn {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  padding: 17px 34px;
  justify-content: center;
  align-items: center;
  gap: 48px;
  border-radius: 8px;
  background: #006a50;
  border: none;
}
/* Vision of Future Section Styles */
.future-section-title {
  color: #0e0e0e;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.future-section-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.future-section-card-container {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
  column-gap: 24px;
}
.future-section-card-one,
.future-section-card-two,
.future-section-card-three {
  height: 325px;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 24px;
  border-radius: 16px;
  border: 0px solid #5490f5;
  background: rgba(84, 144, 245, 0.2);
}
.future-section-card-two {
  border: 0px solid #09a15c;
  background: #c6e4d6;
}
.future-section-card-three {
  border: 0px solid #ffc239;
  background: #f7ebcf;
}
.card-btn-one,
.card-btn-two,
.card-btn-three,
.recent-news-btn {
  display: flex;
  padding: 11px 20px;
  justify-content: center;
  align-items: center;
  gap: 48px;
  border-radius: 8px;
  background-color: #5490f5;
  border: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card-btn-two {
  background-color: #09a15c;
}
.card-btn-three {
  background-color: #ffc239;
}
/* Quote Section Styles */
.quote-section-container {
  display: flex;
  padding: 48px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: 25px 23px;
  margin-bottom: 80px;
}
.quote-section-description {
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.quote-section-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
}
.quote-section-person {
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
/* Recent News Section Styles */
.recent-news-container > h3 {
  color: #0e0e0e;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}
.recent-news-container > p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}
.recent-news-one,
.recent-news-two {
  display: flex;
  padding: 48px;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  margin-bottom: 24px;
  border-radius: 24px;
  background: #fff;
}
.recent-news-two {
  flex-direction: row-reverse;
}
.recent-news-one h3,
.recent-news-two h3 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.recent-news-primary-img {
  width: 408px;
  height: 306px;
  border-radius: 24px;
}
.recent-news-small-img {
  width: 134px;
  height: 40px;
}
.recent-news-time {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.recent-news-time p,
.recent-news-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 6px 0;
}
.recent-news-btn {
  background-color: #006a50;
}
/* Donate Section Styles */
.donate-section-container h3 {
  color: #0e0e0e;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}
.donate-section-container p {
  color: rgba(14, 14, 14, 0.7);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}
.donate-amount-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
}
.donate-amount,
.donate-amount-with-color {
  width: 240px;
  height: 128px;
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
}
.donate-amount-with-color {
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #c6e4d6;
}
.donate-amount h2,
.donate-amount-with-color h2 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.donate-input-field input {
  display: flex;
  width: 1032px;
  padding: 20px 40px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background: #fff;
  border: none;
  margin: 0 auto;
  margin-bottom: 32px;
}
.donate-input-field input[type="text"]::placeholder {
  color: rgba(14, 14, 14, 0.3);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.donate-btn {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  padding: 17px 34px;
  justify-content: center;
  align-items: center;
  gap: 48px;
  border-radius: 8px;
  border: 1px solid rgba(14, 14, 14, 0.1);
  background: #006a50;
  margin: 32px auto 80px auto;
}
/* Newsletter Section Styles */
.newsletter-container-section {
  display: flex;
  padding: 80px 100px;
  justify-content: center;
  align-items: center;
  gap: 64px;
  border-radius: 24px;
  background: #c6e4d6;
}
.newsletter-container h3 {
  color: #0e0e0e;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}
.newsletter-container p {
  color: rgba(14, 14, 14, 0.7);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}
.input-subs-container {
  display: flex;
  margin-bottom: 24px;
}
.newsletter-container input {
  display: flex;
  width: 600px;
  padding: 18px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px 0px 0px 8px;
  border: none;
  background: #fff;
}
.subscribe-btn {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  padding: 17px 34px;
  justify-content: center;
  align-items: center;
  gap: 48px;
  border-radius: 0px 8px 8px 0px;
  border: none;
  background: #006a50;
}
